* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaCove Nerd font;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}

window#waybar {
	background: rgba(29, 32, 33, 0.5);
  border-radius: 6px;
  border: 2px solid rgba(29, 32, 33, 0.5);
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 12px;
  color: #7c6f64;
}

#workspaces button.focused {
  color: #d4be98;
}

#workspaces button.urgent {
  background-color: #e78a4e;
}

#battery,
#backlight,
#network,
#clock,
#tray,
#pulseaudio {
  margin: 8px;
  padding-right: 8px;
  background-color: transparent;
  color: #d4be98;
}

#custom-swww {
  padding-right: 8px;
  background-color: transparent;
  color: #d4be98;
}

#battery {
  background-color: transparent;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: #d4be98;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #a9b665;
}

@keyframes blink {
  to {
    background-color: #e78a4e;
    color: #ede0d4;
  }
}

tooltip {
  padding: 15px;
  background-color: #1d2021;
  border-radius: 6px;
  color: #d4be98;
  border: 2px solid #282828;
}
