@define-color bgc #282828; /*background color*/
@define-color flc #3c3836; /*first layer color*/
@define-color fgc #ebdbb2; /*foreground color*/
@define-color wfc #a89984; /*workspaces font color*/
@define-color wdc #d5c4a1; /*workspaces default color*/
@define-color wuc #fe8019; /*workspaces urgent color*/

* {
  border-radius: 0;
  font-family: 'Iosevka NF';
  font-size: 12pt;
  padding: 0;
  margin: 0;
  min-height: 0;
}

window#waybar {
  background: @bgc;
  color: @fgc;
}

tooltip {
  background: @bgc;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: @fgc;
}

#workspaces button {
  padding-left: 0px;
  padding-right: 10px;
  min-width: 0;
  color: @wfc;
}

#workspaces button.focused {
  color: @wdc;
}

#workspaces button.urgent {
  color: @wuc;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
  border-color: transparent;
}

#clock, #battery, #pulseaudio, #workspaces, #network  {
  margin: 4px 0px;
  padding: 0px 10px;
}
