* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: msfxSet(font);
  font-weight: msfxSet(font_style);
  font-size: msfxSet(waybar_font_size)px;
  padding: 0;
}

window#waybar {
	background: msfxSet(color_bg2_rgba);
  border: msfxSet(border)px solid msfxSet(color_bg3_rgba);
}

#battery,
#network,
#clock,
#tray,
#pulseaudio {
  margin: 4px;
  padding: 4px 8px;
  border-radius: msfxSet(corner_radius);
}

#workspaces {
  background-color: msfxSet(color_bg3);
  margin: 4px;
  border: msfxSet(border)px solid msfxSet(color_bg4);
  border-radius: msfxSet(corner_radius);
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 4px 8px;
  color: msfxSet(color_fg1);
}

#workspaces button.focused {
  color: msfxSet(color_fg2);
}

#workspaces button.urgent {
  background-color: msfxSet(color_orange1);
}

#battery {
  background-color: msfxSet(color_green1);
  border: msfxSet(border)px solid msfxSet(color_green2);
  color: msfxSet(color_bg2);
}

#network {
  background-color: msfxSet(color_purple1);
  border: msfxSet(border)px solid msfxSet(color_purple2);
  color: msfxSet(color_bg2);
}

#clock {
  background-color: msfxSet(color_bg3);
  border: msfxSet(border)px solid msfxSet(color_bg4);
  color: msfxSet(color_fg2);
}

#tray {
  background-color: msfxSet(color_orange1);
  border: msfxSet(border)px solid msfxSet(color_orange2);
  color: msfxSet(color_bg2);
}

#pulseaudio {
  background-color: msfxSet(color_yellow1);
  border: msfxSet(border)px solid msfxSet(color_yellow2);
  color: msfxSet(color_bg2);
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: msfxSet(color_bg2);
  background-color: msfxSet(color_red1);
  border: msfxSet(border)px solid msfxSet(color_bg3);
}
